<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>
</head>

<body>
    <div class="container">
        <div id="calendar"></div>
    </div>
</body>

<script>

    const element = document.getElementById("calendar");
    const calendar = new FullCalendar.Calendar(element, {
        initialView: "dayGridMonth",
        locale: 'pt-br',
        events: 'agendamentos',
        eventClick: function(info){
            window.location.href = '/event/' + info.event.id;
        }
    });

    calendar.render();

</script>

</html>